#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1,h2,h3 { 
  font-family: "JetAirliner", sans-serif;
}
.resume-title {
  font-family: "JetAirliner", sans-serif;
  font-size: 36px;
  color:rgb(76, 5, 25);
}
.resume ul {
  padding-left: 20px;
}
.resume li {
  list-style:disc;
}