@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  @font-face {
    font-family: 'JetAirliner';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/JetAirliner.woff) format('woff');
  }
}